body {
    margin: 2px;
    padding: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
}
/*--NAVBAR--*/ 

.nav_bar_container {
    margin: 0px;
    padding: 0px;
    height: 150px;
    width: 100%;
    position: sticky;
    top: 0;
}

.nav_bar {
    margin: 0px;
    padding: 0px;
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color: rgb(99, 97, 97);
}

.logo {
    padding: 3px;
    font-size: 90px;
    background-color: lightblue;
    color: rgb(99, 97, 97);
}

.nav_links {
    
    display: flex;
    flex-direction: row;
    margin: 20PX;
    list-style: none;
}
.links {
    height: 50px;
    width: 150;
    margin: 10px;
    border-bottom: 9px solid lightblue;
    color: lightblue;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

 
.links:hover {
    color: rgba(184, 184, 178, 0.473);
    transition: 0.5 sec ease-in;
}

/*HERO SECTION*/

.hero { 
    height: 300px;
    width: 100%;
    margin: 0px;
    padding: 0PX;
    font-size: 25px;
    text-align: center;
    background: url(./Assets/backgroundimg.jpg) no-repeat center center fixed;
    background-size: cover;
}
/*--MAIN SECTION*/

.main_section {
    height: auto;
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap; 
}

.container1 {
    margin: 20px;
}

.project1 {
   
}

.container2 {
    margin: 20px;
}

.project2 {
    
}
.project_2 {
    height: 200; 
    width: 400%;
    padding: 10px;
    margin: 30px;
    background-image: url("./Assets/img3.png");
    background-size: cover;
}

.container3 {
    margin: 20px;
}

.project3 {

}

.container4 {
    margin: 20px;
}

.project4 {
    margin: 20px;
}
/*--FOOTER--*/

.contact {
    height: 100px;
    padding: 0px;
    margin: 2px;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
}

.footer_sidebar {
    margin: 2px;
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
}

.contacts {
    
}