body {
    margin: 2px;
    padding: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
}
/*--NAVBAR--*/ 

.nav_bar_container {
    margin: 0px;
    padding: 0px;
    height: 150px;
    width: 100%;
    position: sticky;
    top: 0;
}

.nav_bar {
    margin: 0px;
    padding: 0px;
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color: rgb(99, 97, 97);
}

.logo {
    padding: 3px;
    font-size: 90px;
    background-color: lightblue;
    color: rgb(99, 97, 97);
}

.nav_links {
    
    display: flex;
    flex-direction: row;
    margin: 20PX;
    list-style: none;
}
.links {
    height: 50px;
    width: 150;
    margin: 10px;
    border-bottom: 9px solid lightblue;
    color: lightblue;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link1 {
    text-decoration: none;
    color: lightblue;
}

 
.links:hover {
    color: rgba(184, 184, 178, 0.473);
    transition: 0.5 sec ease-in;
}

/*HERO SECTION*/

.hero {
    background-color: black;
    padding: 200px; 
    
}

.hero_container {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    height: 90%;
    text-align: center;
    padding: 30px;
}

.hero_heading {
    font-size: 100px;
    margin-bottom: 24px;
    background-color: #f3ec78;
    background-image: linear-gradient(45deg, #f3ec78, #af4261);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}

.hero_description {
    font-size: 60px;
    background-size: 100%;
    background-color: #f3ec78;
    background-image: linear-gradient(45deg, #a9f378, #af428b);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}


/*--MAIN SECTION*/
.projects {
    background-color: rgba(0, 0, 0, 0.990);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 10rem 0;    
}

.projects h1 {
    background-size: 100%;
    margin: 5rem;
    font-size: 2.5rem;
    background-color: #f3ec78;
    background-image: linear-gradient(45deg, #f3ec78, #af4261);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}

.projects_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.projects_card {
    margin: 10px;
    height: 400px;
    width: 325px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease-in;
}

#pro1 {
   background-image: url(./Assets/img2.jpg);
   background-repeat: no-repeat;
   object-fit: cover;

}

#pro2 {
    background-image: url(./Assets/img4.jpg); 
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#pro3 {
    background-image: url(./Assets/img6.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#pro4 {
    background-image: url(./Assets/img5.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.projects_card h2 {
    text-align: center;
    background-color: #f3ec78;
    background: hsla(221, 45%, 73%, 1);
    background: linear-gradient(90deg, hsla(221, 45%, 73%, 1) 0%, hsla(220, 78%, 29%, 1) 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
 
}

.projects_card p {
    text-align: center;
    margin-top: 24px;
    font-size: 30px;
    color: black; 
}
.projects_btn {
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

.projects_btn button {
    padding: 14px;
    border: none;
    outline: none;
    border-radius: 4px;
    font-size: 1rem;
    background: #fff;
    color: black;
    font-size: 25px;
}

/*--FOOTER--*/

.contact {
    height: 100px;
    padding: 0px;
    margin: 2px;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
}

.footer_sidebar {
    margin: 2px;
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
}

